@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
header {
  display: flex;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  width: 80%; }

#icon {
  display: flex;
  align-items: center; }

nav {
  display: flex;
  align-items: center; }

#icon img {
  height: 50px;
  margin: 5px; }
#icon h3 {
  margin: 5px;
  font-size: 25px; }

#section1 {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  width: 80%; }
  #section1 #section1_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #section1 #section1_body #header {
      font-size: 54px;
      color: #364655;
      margin: 0;
      padding: 0;
      line-height: 1.3em; }
    #section1 #section1_body #text {
      font-size: 24px;
      color: #627382;
      margin: 0 0 55px 0;
      padding: 0; }
    #section1 #section1_body .button {
      display: flex; }
      #section1 #section1_body .button #start {
        margin-left: 20px; }
  #section1 #section1_image {
    display: flex; }
    #section1 #section1_image img {
      padding-top: 100px; }

#list {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }
  #list .list_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0; }
    #list .list_box #box1 {
      background-color: #FDB8F5; }
    #list .list_box #box2 {
      background-color: #4f77ff; }
    #list .list_box #box3 {
      background-color: #75cfd6; }
    #list .list_box .list_number {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 24px;
      color: white;
      width: 47px;
      height: 47px;
      border-radius: 50%; }
    #list .list_box .list_text {
      max-width: 250px;
      margin: 20px 100px;
      font-size: 22px;
      color: #364655;
      line-height: 1.2;
      text-align: center; }

.list_box:hover {
  background-color: #e6e6e6; }

#section2 {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  text-align: center; }
  #section2 h1 {
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 30px; }
  #section2 #section2_body {
    display: flex;
    justify-content: center; }
    #section2 #section2_body .package {
      margin: 10px 125px; }
      #section2 #section2_body .package h3 {
        color: #4f77ff;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0; }
      #section2 #section2_body .package #amount {
        color: #4f77ff;
        font-size: 52px;
        margin-top: 30px;
        margin-bottom: 0; }
      #section2 #section2_body .package #timing {
        color: #4f77ff;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 30px; }
      #section2 #section2_body .package .package_info {
        margin-bottom: 30px;
        font-size: 18px; }

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  border-top: .5px lightgray solid;
  padding: 40px; }
  footer img {
    width: 50px;
    height: 50px; }
  footer #email_request {
    color: #4f77ff;
    text-decoration: none;
    font-size: 18px; }
  footer #start_trial {
    color: black;
    text-decoration: none;
    font-size: 18px; }
  footer #socialmedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    footer #socialmedia a {
      margin-bottom: 10px;
      color: black;
      text-decoration: none;
      font-size: 18px; }

body {
  box-sizing: border-box; }

button {
  height: 50px;
  border-radius: 4px;
  width: 110px;
  font-size: 14px; }

#login {
  background-color: white;
  color: #9B9B9B;
  border: none; }

#signup {
  background-color: #4f77ff;
  color: white;
  border: none; }

.white_button {
  background-color: white;
  color: #4f77ff;
  border: .5px solid #4f77ff;
  width: 160px; }

.blue_button {
  background-color: #4f77ff;
  color: white;
  border: .5px solid #4f77ff;
  width: 160px; }

#organization {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*# sourceMappingURL=main.css.map */
