header {
  @include flex-row-position(space-between);
  font-family: $font;
  width: 80%
}

#icon {
  display: flex;
  align-items: center;

}

nav {
  display: flex;
  align-items: center;
}

#icon {
  img {
    height: 50px;
    margin: 5px;
  }

  h3 {
    margin: 5px;
    font-size: 25px;
  }
}
